/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 ;
  padding: 0;
}

header {
  background-color: #d01da3;
  padding: 50px;
 text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;

  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #edebeb;
}

.banner img {
  width: 100%;
}

footer {
  background-color: #07e2ff;
  padding: 10px 0;
  text-align: center;
}

/* Specific page styles */
.about-section,
.contact-section,
.login-section {
  padding: 20px;
}

.about-section p,
.contact-section p,
.login-section p {
  color: #333;
}

/* Add more specific styles as needed */
/* CSS for styling */

